@import "../../styles/_variables";

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  background-color: white;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgb(173, 211, 224);
}

.left-column {
  display: flex;
  gap: 1.5rem;
}

.company-logo {
  display: flex-wrap;
}

.left-column-text {
  max-width: 20rem;
}

.right-column {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.row-one {
  display: flex;
  font-size: 15px;
  font-weight: 700;
  gap: 1rem;
  padding-bottom: 0.5rem;
  .company {
    color: $primary-cyan;
  }
}

.row-two {
  display: flex;
  font-size: 17px;
  font-weight: 700;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.row-three {
  display: flex;
  color: gray;
  font-size: 15px;
  font-weight: 600;
  gap: 1rem;
}

.array-split {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

hr {
  display: none;
}

@media screen and (max-width: 700px) {
  hr {
    display: block;
    border: none;
    height: 1px;
    width: 100%;
    background-color: rgb(197, 193, 193);
  }

  .right-column {
    justify-content: start;
  }
  .logo {
    max-width: 48px;
    max-height: 48px;
  }
  .left-column {
    margin-top: -2.5rem;
    gap: 0.5rem;
    flex-direction: column;
  }
}
