@import "../../styles/_variables";

.filter-box {
  //   position: absolute;
  //   top: -6.5rem;
  //   width: 100%;
  //   margin-top: -2rem;
  display: grid;
  grid-template-columns: 10fr 1fr;
  background-color: white;
  min-height: 3rem;

  border: none;
  border-radius: 5px;
  padding: 1rem 1rem;
  align-items: center;
  box-shadow: 1px 1px 10px rgb(181, 217, 230);
}

.skills-box {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.clear-option {
  font-size: 15px;
  color: $primary-cyan;
  font-weight: 700;
  text-decoration: underline;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;

  &:hover {
    color: black;
    cursor: pointer;
  }
}
